<img src="/images/index1.jpg" alt="background" class="image">


<br><br><br>
<section id="search_bars">
  <form class="continent" action="/search/continent" method="post">
    <label for="continent_select">Search by Continent</label><br>
    <select name="id" id="continent_select">
      <% @continents.each do |continent| %>
      <option value=<%= continent.id %>><%= continent.name.capitalize %></option>
      <% end %>
    </select>
    <input type="image" src="/images/search-icon.png" alt="search" id="search_icon">
    <input type="hidden" name="" value="">
  </form>

</section>
