<h1>New City</h1>

<form method="post" action="/cities">

  <label for="name">City Name:</label>
  <input type="text" name="name" id="name"/><br><br>

  <label for="country_select">Select Country:</label>
  <select name="country_id" id="country_select">
    <% @countries.each do |country| %>
    <option value=<%= country.id %>><%= country.name.capitalize %></option>
    <% end %>
  </select>
  <br><br>
  <label for="city_status">Select City Status:</label><br>
  <input type="radio" name="visited" value="true" checked/>Visited City <br>
  <input type="radio" name="visited" value="false" />To Visit City <br>

  <br>

  <input type="submit" value="Add City"/>
</form>
