.flex {
  display: flex;
  flex-direction: row;
  float: left;
  list-style-type: none;
  align-items: center;
}

.sights_list{
  display: inline-flex;
}

.home_page {
  background-image: url("images/index1.jpg");
  background-size: cover;
  background-position: center;
  width:  auto;
  height: 650px;
  margin: 0px;
  padding: 0px;

}

.image {
  max-width: 1250px;
  margin: 0px;
  padding: 0px;
}

.continent_index {
  display: flex;
  justify-content: center;
  background-color: white;
}


.world_map {
  max-width: 1250px;
}

.select_menu {
  height: 30px;
  width: 160px;
}
body {
  font-family: 'Acme', cursive;
  color:  #1D3557;
}

ul {
  padding: 0px;
  margin: 0px;
}

li{
  padding-right: 30px;
  display: block;
}

h1{
  margin-top: 0px;
}

h3{
  margin: 0px;
  margin-bottom: 5px;
}

a {
  color: #457B9D;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

#content {
  background-image: url("images/flags1.png") ;
  background-repeat: no-repeat;
  height: 900px;

}

#search_bars {
  display: flex;
  justify-content: space-around;

}

#close_icon {
  width: 10px;
  height: 10px;
  opacity: 0.1;
}
#close_icon:hover {
  opacity: 1;
}

#search_icon {
  width: 20px;
  height: 20px;
}

#bar {
  height: 20px
}

#app_logo {
  float: right;
  width: auto;
  height: 99px;
}

#menu {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100px;
  align-content: center;
  border-bottom: 1px solid #457B9D;
}
