.flex {
  display: flex;
  flex-direction: row;
  float: left;
  list-style-type: none;
}

.sights_list{
  display: inline-flex;
}

.image {
  max-width: 1250px;
  margin: 0px;
  padding: 0px;
}

.world_map {
  max-width: 1250px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li{
  padding-right: 30px;
  display: block;
}

#search_bars {
  display: flex;
  justify-content: space-around;

}

#close_icon {
  width: 10px;
  height: 10px;
  opacity: 0;
}
#close_icon:hover {
  opacity: 1;
}

#search_icon {
  width: 20px;
  height: 20px;
}

#bar {
  height: 20px
}

#app_logo {
  float: right;
  width: 350px;
  height: 170px;
}

#menu {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
